div
    dnd-nodrag.no-drag(ng-if="vm.dragIcon")
        .row
            .table-cell.context-column
                .context-menu-wrapper(data-ng-show="vm.options.contextId == item[vm.dataSource.primaryKey]" , data-ng-style='vm.options.styleContextMenu')
                            .context-menu-item(data-ng-repeat="link in vm.contextLinks track by $index", data-ng-class="{'component-separator': link.separator}")
                                component-wrapper(data-setting="link", 
                                                data-entity-id="{{::item[vm.dataSource.primaryKey]}}", 
                                                data-button-class="context", 
                                                data-options="vm.options")
            .dnd-expand-item.glyphicon(
                ng-if="vm.treeSource && (vm.childrenCountField!==undefined || (item[vm.childrenField] && item[vm.childrenField].length))"
                ng-class="{'glyphicon-collapse-down': item.$isExpand,'glyphicon-expand': (!item.$isExpand || (item[vm.childrenCountField] > 0 && !item[vm.childrenField])), 'icon-collapse': vm.childrenCountField !== undefined && !item[vm.childrenCountField]}" 
                ng-click="vm.expand({item: item})")   
            .column(data-ng-repeat="fieldItem in vm.tableFields track by $index"  ng-style="fieldItem.ngStyle" ng-class="{'first-column': $index===0}")       
                component-wrapper(data-setting="fieldItem.component", data-options="item.$options")
            .dnd-expand-item.glyphicon.glyphicon-align-justify(dnd-handle)   
    .row(ng-if="!vm.dragIcon")
            .table-cell.context-column
                .context-menu-wrapper(data-ng-show="vm.options.contextId == item[vm.dataSource.primaryKey]" , data-ng-style='vm.options.styleContextMenu')
                            .context-menu-item(data-ng-repeat="link in vm.contextLinks track by $index", data-ng-class="{'component-separator': link.separator}")
                                component-wrapper(data-setting="link", 
                                                data-entity-id="{{::item[vm.dataSource.primaryKey]}}", 
                                                data-button-class="context", 
                                                data-options="vm.options")
            .dnd-expand-item.glyphicon(
                ng-if="vm.treeSource && (vm.childrenCountField!==undefined || (item[vm.childrenField] && item[vm.childrenField].length))"
                ng-class="{'glyphicon-collapse-down': item.$isExpand,'glyphicon-expand': (!item.$isExpand || (item[vm.childrenCountField] > 0 && !item[vm.childrenField])), 'icon-collapse': vm.childrenCountField !== undefined && !item[vm.childrenCountField]}" 
                ng-click="vm.expand({item: item})")   
            .column(data-ng-repeat="fieldItem in vm.tableFields track by $index"  ng-style="fieldItem.ngStyle" ng-class="{'first-column': $index===0}")       
                component-wrapper(data-setting="fieldItem.component", data-options="item.$options")

