.filter-datetime-wrapper
    .filter-name-label(title="{{vm.filterDisplayName}}")
        span {{vm.filterDisplayName}}
    .filter-inner-wrapper
        .filter-start
            .editor-datetime
                input.form-control.input-sm(date-time=""
                    name="{{vm.fieldName}}" 
                    data-ng-disabled="vm.readonly" 
                    ng-model="vm.filterValueStartDateTime" 
                    view="date" 
                    timezone="UTC" 
                    format="YYYY-MM-DD HH:mm:ss")            
        span.divider -
        .filter-end
            .editor-datetime
                input.form-control.input-sm(date-time=""
                    name="{{vm.fieldName}}" 
                    data-ng-disabled="vm.readonly" 
                    ng-model="vm.filterValueEndDateTime" 
                    view="date" 
                    timezone="UTC" 
                    format="YYYY-MM-DD HH:mm:ss")