div
    .row
        .field-name-label.col-lg-6.col-md-6.col-sm-6.col-xs-6
            .field-hint(data-ng-if="vm.hint")
                .hint-text {{vm.hint}}
            span(data-ng-class="vm.required ? 'editor-required' : '' ") {{vm.fieldDisplayName}}:
        .col-lg-2.col-md-2.col-sm-2.col-xs-2(data-ng-if="vm.multiple")
            .item-datepicker-wrapper.input-group(data-ng-repeat="field_item in vm.fieldValue track by $index")
                input.form-control.input-sm(date-time=""
                      name="{{vm.fieldName}}"
                      data-ng-disabled="vm.readonly"
                      ng-model="vm.fieldValue[$index]"
                      view="date"
                      timezone="UTC"
                      format="YYYY-MM-DD HH:mm:ss")
                span.input-group-btn
                    button.btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
            .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-if="!vm.readonly") {{'BUTTON.ADD' | translate}}
        .col-lg-2.col-md-2.col-sm-2.col-xs-2(data-ng-if="!vm.multiple")
            input.form-control.input-sm(date-time=""
                        name="{{vm.fieldName}}"
                        data-ng-disabled="vm.readonly"
                        ng-model="vm.fieldValue"
                        view="date"
                        timezone="UTC"
                        format="YYYY-MM-DD HH:mm:ss")
    .field-error-wrapper
        .error-item.alert.alert-danger(data-ng-repeat="err in vm.error") {{err}}
