div
    .field-map-wrapper.col-lg-6.col-md-6.col-sm-6.col-xs-6
        ya-map(
        data-ya-center="{{vm.mapParam.center}}",
        data-ya-zoom="{{vm.mapParam.zoom}}",
        data-ya-after-init="vm.afterInit($target)",
        data-ya-event-dblclick="vm.mapDoubleClick($event)",
        data-ya-controls="zoomControl searchControl fullscreenControl",
        data-ya-behaviors="scrollZoom multiTouch drag"
        style="width: {{vm.mapParam.width}}px; height: {{vm.mapParam.height}}px; display: block;")
            ya-geo-object(
            data-ng-if="!vm.multiple && vm.fieldValue",
            data-ya-source="{geometry:{type : 'Point', coordinates : vm.fieldValue}}")
            ya-geo-object(
            data-ng-if="vm.multiple",
            data-ng-repeat="mark in vm.fieldValue track by $index"
            data-ya-source="{geometry:{type : 'Point', coordinates : mark}, properties : { iconContent : $index + 1 }}")
        .field-map-values
            .item-map-wrapper(data-ng-if="vm.multiple", data-ng-repeat="item in vm.fieldValue track by $index")
                .btn.btn-primary.btn-xs(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly && vm.fieldValue.length") {{'BUTTON.DELETE_MARK' | translate}} {{$index + 1}}
            .item-map-wrapper(data-ng-if="!vm.multiple")
                .btn.btn-primary.btn-xs(data-ng-click="vm.removeItem()", data-ng-if="!vm.readonly && vm.fieldValue") {{'BUTTON.DELETE_MARK' | translate}}
