div(ng-show="isOpen")
    div(data-ng-class='{"dropdown-scroll" : (lvlDropdown == 1)}' ng-if="isOpen")
      .dropdown-items__item(
        data-ng-repeat="option in options track by $index",
        data-ng-class="activeElement == option[fieldId] ? 'active' : ''",
        data-ng-mouseover="setActiveElement($event, option)"
        )
        .option
          .option__checkbox(
            data-ng-if="::selectBranches || !option[childCountField]",
            data-ng-mousedown="onToggle($event, option)",
            data-ng-class='{"multi_radio" : !multiple}'
            )
            .checkbox__check(
                data-ng-style="{'display': option.checked ? 'block' : ''}",
                data-ng-class='{"radio multi_radio": !multiple, "checkbox": multiple}'
                )
          .option__label(data-ng-mousedown="onToggle($event, option, true)")
            span(data-ng-bind="option[fieldSearch]")
            = ' '
            span.option__child-count(data-ng-if="option[childCountField]", data-ng-class="{'option__child-count_open': option.isOpen}") ({{option[childCountField]}})
        .processing-status-wrapper(ng-if="!!option.loadingData && option[childCountField]")
              .processing-status(translate="PERFORMS_ACTIONS")
        .dropdown-items__children(data-ng-if="option.childOpts"
            data-dropdown-items=""
            data-options="option.childOpts"
            data-is-open="option.isOpen"
            data-field-search="fieldSearch"            
            data-field-id="fieldId"
            data-child-count-field="childCountField"
            data-on-toggle="onToggle"
            data-api="api"
            data-select-branches="selectBranches"
            data-multiple="multiple",
            data-active-element="activeElement",
            data-set-active-element="setActiveElement",
            data-lvl-dropdown="lvlDropdown + 1")