div
    .col-lg-2.col-md-2.col-sm-3.col-xs-3
        .autocomplete-input-wrapper.form-control(
            data-ng-show="vm.preloadedData && vm.selectedValues.length < vm.maxItemsCount",
            data-ng-class='{"active" : vm.isActivePossible, "disabled-input": vm.readonly}',
            data-ng-click="inputFocus()"
            )
            .autocomplete-item(data-ng-repeat="acItem in vm.selectedValues", data-ng-show="vm.preloadedData",data-ng-if="vm.multiple") {{acItem[vm.field_search]}}
                span.remove-from-selected(data-ng-click="vm.removeFromSelected($event, acItem)", data-ng-if="!vm.readonly") ×
            input.autocomplete-field-search(
                type="text",
                ng-disabled="vm.readonly",
                data-ng-model="vm.inputValue",
                data-ng-focus="vm.focusPossible(true)",
                data-ng-blur="vm.focusPossible(false)",
                size="{{vm.sizeInput}}",
                data-ng-style='vm.classInput',
                data-ng-keydown="vm.deleteToAutocomplete($event)",
                placeholder="{{vm.placeholder}}",
                data-ng-class='!vm.isActivePossible ? "color-placeholder" : ""'
                )
            span.selecte-delete.selecte-delete-autocomplete(
                data-ng-if="!vm.multiple && !!vm.selectedValues.length && !vm.readonly",
                data-ng-click="vm.removeFromSelected($event, vm.selectedValues[0])"
                ) ×
            .loader-search-wrapper(data-ng-show="vm.searching")
                .loader-search {{'LOADING' | translate}}
            .possible-values.possible-autocomplete.active.possible-bottom(
                data-ng-if="!vm.readonly && (vm.possibleValues.length > 0) && vm.showPossible",
                )
                .possible-scroll
                    .possible-value-item(data-ng-repeat="possible in vm.possibleValues", data-ng-mouseover="vm.activeElement = $index", data-ng-click="vm.addToSelected($event, possible)", data-ng-class="vm.activeElement == $index ? 'active' : ''") {{possible[vm.field_search]}}
