.row.tree-row(data-ng-mousedown="vm.toggleContextViewByEvent({item: item, e: $event})")
    .table-cell.context-column
        .context-menu-wrapper(data-ng-if="vm.options.contextId == item[vm.dataSource.primaryKey]" , data-ng-style='vm.options.styleContextMenu')
            .context-menu-item(data-ng-repeat="link in vm.contextLinks track by $index", data-ng-class="{'component-separator': link.separator}")
                component-wrapper(data-setting="link", 
                    data-entity-id="{{::item[vm.dataSource.primaryKey]}}", 
                    data-button-class="context", 
                    data-options="vm.options")
    .dnd-expand-item.glyphicon(
        ng-class="{'glyphicon-collapse-down': item.$$expand === true,'glyphicon-expand': item.$$expand === false, 'icon-collapse': item.$$expand === undefined || item[vm.childrenField].length===0}" 
        ng-click="vm.expand(item)")
.children-frames(ng-if="vm.treeSource && item.$$expand" ng-class="{'empty-child-area': item[vm.childrenField]}")
                .loading(ng-show="item.$$expand === 'pending'")
                    .column.td-loading
                      .processing-status-wrapper
                        .processing-status(translate="PERFORMS_ACTIONS")           
                ue-node(
                    ng-if="item.$$expand !== 'pending'"
                    data-collection="vm.collection",
                    data-parent-node="item",
                    data-items="item[vm.childrenField]",
                    data-table-fields="vm.tableFields",
                    data-setting="vm.setting",
                    data-options="vm.options",
                    data-context-links="vm.contextLinks",
                    toggle-context-view-by-event="vm.toggleContextViewByEvent({item: item, e: e})")



