table.table.table-bordered.items-list(ng-if="!vm.warnings.length && !vm.dangers.length")
            thead(ng-if="vm.displayHeaderColumns")
                tr
                    td.table-cell.actions-header.context-column(ng-if="vm.isContextMenu")
                    td.table-cell(data-ng-repeat="fieldItem in ::vm.tableFields track by $index",
                        ng-style="fieldItem.ngStyle",
                        data-ng-class="{'ue-column-sortable':fieldItem.sort.enable}"
                        data-ng-click="vm.changeSortField(fieldItem)") {{fieldItem.displayName}} 
                        span(data-ng-class="{'glyphicon glyphicon-sort': fieldItem.sort.direction === 'none', 'glyphicon glyphicon-sort-by-attributes-alt':fieldItem.sort.direction === 'desc', 'glyphicon glyphicon-sort-by-attributes':fieldItem.sort.direction === 'asc'}")    
            tbody(data-ng-if="vm.loaded"
                  dnd-list="vm.items" 
                  dnd-allowed-types="vm.$allowed"
                  dnd-dragover="vm.dragover(event, index, type)" 
                  dnd-drop="vm.drop(item, index, event)"
                  dnd-inserted="vm.inserted(item, index, external, type)"
                  data-body,
                  data-settings='vm.componentSettings'
                )
                tr.dndPlaceholder
                     td
                tr.row-empty(data-ng-if="vm.items.length == 0")
                    td.table-cell(colspan="{{vm.tableFields.length + vm.isContextMenu + !!vm.dragMode.dragIcon}}")
                        | {{'ELEMENT_NO' | translate}}
                tr.t-row( 
                    data-ng-repeat="item in vm.items", 
                    data-ng-class="{'zhs-item' : item[vm.subType] && item[vm.subType] !== undefined}", 
                    data-ng-mousedown="vm.toggleContextViewByEvent(item, $event)", 
                    oncontextmenu='return false;',                         
                    dnd-disable-if="item.$disable",  
                    dnd-draggable="item",
                    dnd-moved="vm.moved($index)",
                    dnd-type="item.$type",                 
                    dnd-dragstart="vm.dragStart(event, item, $index)"
                    dnd-effect-allowed="{{vm.dragMode.mode || 'move'}}",
                    data-ng-table-item="",
                    data-vm = "vm"
                    data-item='item',
                    data-component-id="{{vm.$componentId}}"
                    )
                
            tbody(data-ng-if="!vm.loaded")
                tr
                    td.table-cell.td.table-cell-loading(colspan="{{vm.tableFields.length + vm.isContextMenu + !!vm.dragMode.dragIcon}}")
                        .processing-status-wrapper
                            .processing-status(translate="PERFORMS_ACTIONS")
            tfoot(ng-if="vm.listFooterBar.length")
                tr
                    td.table-cell(colspan="{{vm.tableFields.length + vm.isContextMenu + !!vm.dragMode.dragIcon}}")
                        component-wrapper(data-ng-repeat="component in vm.listFooterBar track by $index" data-setting="component", data-options="vm.options")
    