tr(dnd-nodrag ng-if="vm.dragMode.dragIcon" data-ng-repeat="item in vm.items", data-ng-class="[{'zhs-item' : item[vm.subType] && item[vm.subType] !== undefined}, (item[vm.subType] || 'main') + '-entity']", 
    data-ng-mousedown="vm.toggleContextViewByEvent(item, $event)", 
    oncontextmenu='return false;',                         
    dnd-disable-if="vm.dragDisable(item, vm.collection)",  
    dnd-draggable="item",
    dnd-moved="vm.moved($index)",
    dnd-type="vm.getContainerName(item, vm.collection)",                 
    dnd-dragstart="vm.dragStart(event, item, $index)"
    dnd-effect-allowed="{{vm.dragMode.mode || 'move'}}")        
        td.table-cell.context-column(ng-if="vm.isContextMenu")
            span.context-toggle(data-ng-click="vm.toggleContextView(item)", 
                                data-ng-show="(vm.contextLinks.length && (item[vm.subType] || item[vm.subType] == undefined)) || (vm.mixContextLinks.length && vm.collectionType)") Toggle buttons
            .context-menu-wrapper(data-ng-show="vm.options.contextId == item[vm.idField]" , data-ng-style='vm.options.styleContextMenu')
                .context-menu-item(data-ng-repeat="link in vm.contextLinks track by $index",
                                data-ng-if="item[vm.subType] !== vm.collectionType || !vm.isMixMode",
                                data-ng-class="{'component-separator': link.separator}")
                    component-wrapper(data-setting="link", 
                                    data-entity-id="{{::item[vm.idField]}}", 
                                    data-button-class="context", 
                                    data-options="vm.options")
                .context-menu-item(data-ng-repeat="link in vm.mixContextLinks track by $index", data-ng-if="vm.collectionType && item[vm.subType] === vm.collectionType", data-ng-class="{'component-separator': link.separator}")
                    component-wrapper(data-setting="link", data-entity-id="{{::item[vm.idField]}}",
                        data-button-class="context",
                        data-options="vm.mixOption")
        td.table-cell(data-ng-repeat="fieldItem in vm.tableFields track by $index" ng-style="fieldItem.ngStyle")
            span.glyphicon(
            data-ng-class="{'glyphicon-folder-open icon-mix-mode' : vm.isMixMode && item[vm.subType] !== vm.collectionType}",
            data-ng-if='vm.prependIcon === fieldItem.field'
            )
            component-wrapper(data-setting="fieldItem.component", 
                            data-options="item.$options")
        td.table-cell.dragIcon 
            .dnd-expand-item.glyphicon.glyphicon-align-justify.dragIcon(dnd-handle)