div
    .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="vm.multiple && !vm.isTree")
        select.form-control(name="{{vm.fieldName}}", data-ng-disabled="vm.readonly || !vm.parentValue", data-ng-model="vm.fieldValue", multiple)
            option(data-ng-repeat="option in vm.options", value="{{option[vm.field_id]}}") {{option[vm.field_search]}}
        .processing-status-wrapper(data-ng-show="!!vm.loadingData")
            .processing-status {{'PERFORMS_ACTIONS' | translate}}
    .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="!vm.multiple && !vm.isTree")
        div.select-input-wrapper(data-ng-click="vm.isShowPossible($event)")
            div.form-control(data-ng-if="!vm.search")
                .dropdown__selected-items {{vm.placeholder}}
            .possible-values(
                data-ng-if="!vm.readonly && (vm.options.length > 0) && vm.showPossible",
                data-ng-class='{"active" : vm.isActivePossible}'
                )
                .possible-value-item(data-ng-repeat="option in vm.options", data-ng-mouseover="vm.activeElement = $index", data-ng-click="vm.addToSelected(option)", data-ng-class="vm.activeElement == $index ? 'active' : ''") {{option[vm.field_search]}}

        .processing-status-wrapper(data-ng-show="!!vm.loadingData")
            .processing-status {{'PERFORMS_ACTIONS' | translate}}

    .dropdown.col-lg-3.col-md-3.col-sm-3.col-xs-3(data-ng-if="vm.isTree")
        .dropdown__host
            .dropdown__title.form-control(
                data-ng-class="{'dropdown__title_open': isOpen}",
                data-ng-click="toggleDropdown($event)",
                data-ng-style='{"cursor" : vm.search ? "text" : "pointer"}'
                )
                .selected-items__item(
                    data-ng-repeat="value in vm.fieldValue",
                    data-ng-if="vm.fieldValue.length && (vm.multiple || vm.treeParentField && vm.treeChildCountField)"
                    )
                    .selected-item
                        | {{value[vm.field_search]}}
                        span.selected-item__btn_delete(data-ng-click="vm.remove($event, value)") ×

                input.dropdown__search-field(data-ng-show="vm.search"
                data-ng-model="vm.filterText",
                data-ng-focus="vm.focus($event)",
                data-ng-change="vm.change()",
                data-ng-click="vm.focus($event)",
                placeholder="{{vm.placeholder}}",
                ng-keyup="vm.clickEsc($event)",
                data-ng-style='vm.styleInput',
                size='{{vm.sizeInput}}'
                )
                div(data-ng-if="!vm.search")
                    .dropdown__selected-items(data-ng-if="!vm.loadingData && !vm.fieldValue.length") {{vm.placeholder}}

                .dropdown__items.dropdown__items_with-padding(
                data-ng-if="::(vm.treeParentField && vm.treeChildCountField)"
                data-ng-class="{'dropdown__items_with-selected': vm.fieldValue.length > 2 || (vm.search && vm.fieldValue.length)}"
                data-dropdown-items=""
                data-options="vm.options"
                data-is-open="isOpen && vm.options.length"
                data-field-search="vm.field_search"
                data-child-count-field="vm.treeChildCountField"
                data-on-toggle="vm.toggle"
                data-api="field.values_remote.api"
                data-select-branches="vm.treeSelectBranches"
                data-assets-path="vm.assetsPath",
                data-multiple="vm.multiple")

        .processing-status-wrapper(data-ng-show="!!vm.loadingData")
            .processing-status {{'PERFORMS_ACTIONS' | translate}}
