div
    .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="vm.multiple && !vm.isTree")
        select.form-control(name="{{vm.fieldName}}", data-ng-disabled="vm.readonly || !vm.parentValue", data-ng-model="vm.fieldValue", multiple, size="3")
            option(data-ng-repeat="option in vm.options", value="{{option[vm.field_id]}}") {{option[vm.field_search]}}
        .processing-status-wrapper(data-ng-show="!!vm.loadingData")
            .processing-status {{'PERFORMS_ACTIONS' | translate}}
    .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="!vm.multiple && !vm.isTree")
        div.select-input-wrapper(data-ng-click="vm.clickSelect()", data-ng-class='!vm.search ? "but-for-search" : ""')
            input.form-control.select-input(
                data-ng-if="vm.search",
                placeholder="{{vm.placeholder}}",
                data-ng-class='vm.isSelection ? "color-placeholder" : ""',
                data-ng-model="vm.filterText",
                data-ng-change="vm.change()",
                data-ng-focus="vm.isShowPossible()",
                data-ng-blur="vm.isBlur()"
                )

            input.focus-input(
                data-ng-if="!vm.search",
                data-ng-focus="vm.isShowPossible()",
                data-ng-blur="vm.isBlur()"
                )
            .form-control.select-input(data-ng-if="!vm.search")
                .dropdown__selected-items(
                    data-ng-class='vm.colorPlaceholder ? "color-placeholder-div" : ""'
                    ) {{vm.placeholder}}

            .possible-values.active(
                data-ng-if="!vm.readonly && (vm.options.length > 0) && vm.showPossible",
                data-ng-class='vm.possibleLocation ? "possible-bottom" : "possible-top"'
                )
                .possible-value-item(data-ng-repeat="option in vm.options", data-ng-mouseover="vm.activeElement = $index", data-ng-mousedown="vm.addToSelected(option)", data-ng-class="vm.activeElement == $index ? 'active' : ''") {{option[vm.field_search]}}

        .processing-status-wrapper(data-ng-show="!!vm.loadingData")
            .processing-status {{'PERFORMS_ACTIONS' | translate}}

    .dropdown.col-lg-3.col-md-3.col-sm-3.col-xs-3(data-ng-if="vm.isTree")
        .dropdown__host
            .dropdown__title.form-control.select-input(
                data-ng-class="{'dropdown__title_open': isOpen}",
                data-ng-click="vm.clickSelect()",
                data-ng-style='{"cursor" : vm.search ? "text" : "pointer"}'
                )
                .selected-items__item(
                    data-ng-repeat="value in vm.fieldValue",
                    data-ng-if="vm.fieldValue.length && (vm.multiple || vm.treeParentField && vm.treeChildCountField)"
                    )
                    .selected-item
                        | {{value[vm.field_search]}}
                        span.selected-item__btn_delete(data-ng-click="vm.remove($event, value)") ×

                input.dropdown__search-field(data-ng-if="vm.search"
                    data-ng-model="vm.filterText",
                    data-ng-change="vm.change()",
                    placeholder="{{vm.placeholder}}",
                    data-ng-style='vm.styleInput',
                    size='{{vm.sizeInput}}',
                    data-ng-focus="toggleDropdown()",
                    data-ng-blur="vm.isBlur()",
                    data-ng-keydown="vm.deleteToSelected($event)"
                    )
                input.focus-input(
                    data-ng-if="!vm.search",
                    data-ng-focus="toggleDropdown()",
                    data-ng-blur="vm.isBlur()"
                    )
                div(data-ng-if="!vm.search")
                    .dropdown__selected-items.dropdown-tree(data-ng-if="!vm.loadingData && !vm.fieldValue.length") {{vm.placeholder}}

                .dropdown__items.dropdown__items_with-padding.active.dropdown-bottom(
                    data-ng-if="::(vm.treeParentField && vm.treeChildCountField)",
                    data-ng-class="{'dropdown__items_with-selected': vm.fieldValue.length > 2 || (vm.search && vm.fieldValue.length)}",
                    data-dropdown-items="",
                    data-options="vm.options",
                    data-is-open="isOpen && vm.options.length",
                    data-field-search="vm.field_search",
                    data-child-count-field="vm.treeChildCountField",
                    data-on-toggle="vm.toggle",
                    data-api="field.values_remote.api",
                    data-select-branches="vm.treeSelectBranches",
                    data-assets-path="vm.assetsPath",
                    data-multiple="vm.multiple",
                    data-active-element="vm.activeElement",
                    data-set-active-element="vm.setActiveElement"
                    )

        .processing-status-wrapper(data-ng-show="!!vm.loadingData")
            .processing-status {{'PERFORMS_ACTIONS' | translate}}
