extends ../../template/layouts/layoutComponent

block append content
    include ../../template/labelField/labelField
    .field-date(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter, 'multiple': vm.multiple}", ng-if="!vm.disabled|| vm.options.filter")
        div(data-ng-if="vm.multiple")
            .item-datepicker-wrapper(data-ng-repeat="field_item in vm.fieldValue track by $index")
                .input-group(
                    date-picker
                    locale="{{::vm.locale}}"
                    ng-model="vm.fieldValue[$index]"
                    format='{{vm.format}}'                    
                    max-view="{{::vm.maxView}}",
                    min-view="{{::vm.minView}}",
                    view="{{::vm.view}}"
                    min-date="{{::vm.minDate}}",
                    max-date="{{::vm.maxDate}}"
                )
                    input.form-control.input-sm(
                        date-picker-input,
                        name="{{vm.fieldName}}",
                        ng-model="vm.fieldValue[$index]",
                        data-ng-blur="vm.inputLeave(vm.fieldValue[$index], $index)"
                        ng-disabled="vm.readonly"
                        )
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                    span.input-group-addon.icon-remove(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
                        //-- span.glyphicon.glyphicon-remove
                include ../../template/errorField/errorClient.jade
            .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-disabled="vm.readonly") {{'BUTTON.ADD' | translate}}
        div(data-ng-if="!vm.multiple")
            .input-group(
                date-picker
                locale="{{::vm.locale}}"
                ng-model="vm.fieldValue[$index]"
                format='{{vm.format}}'                    
                max-view="{{::vm.maxView}}",
                min-view="{{::vm.minView}}",
                view="{{::vm.view}}"
                min-date="{{::vm.minDate}}",
                max-date="{{::vm.maxDate}}"
                )
                    input.form-control.input-sm(
                        date-picker-input,
                        name="{{vm.fieldName}}",
                        ng-model="vm.fieldValue",
                        data-ng-blur="vm.inputLeave(vm.fieldValue)"
                        ng-disabled="vm.readonly"
                        )
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
            include ../../template/errorField/errorClient.jade
    .disabled-field(ng-if="vm.disabled && !vm.options.filter")
        include ../../template/disabledField/default.jade