extends ../../template/layouts/layoutComponent

block append content
    include ../../template/labelField/labelField
    .field-date(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}", ng-style="{'overflow:auto':vm.multiple}", ng-if="!vm.disabled|| vm.options.filter")
        div(data-ng-if="vm.multiple")
            .item-datepicker-wrapper(data-ng-repeat="field_item in vm.fieldValue track by $index")
                .input-group
                    input.form-control.input-sm(
                        data-date-time="",
                        name="{{vm.fieldName}}",
                        data-ng-disabled="vm.readonly",
                        data-ng-model="vm.fieldValue[$index]",
                        min-date="vm.minDate" ,
                        data-format="{{vm.format}}",
                        data-max-view="{{::vm.maxView}}",
                        data-min-view="{{::vm.minView}}",
                        data-view="{{::vm.view}}",
                        data-ng-blur="vm.inputLeave(vm.fieldValue[$index], $index)",
                        data-min-date="minDate",
                        data-max-date="maxDate"
                        )
                    span.input-group-btn
                        button.btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
                include ../../template/errorField/errorClient
            .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-disabled="vm.readonly") {{'BUTTON.ADD' | translate}}
        div(data-ng-if="!vm.multiple")
            input.form-control.input-sm(
                data-date-time="",
                name="{{vm.fieldName}}",
                data-ng-disabled="vm.readonly",
                data-ng-model="vm.fieldValue",
                data-format="{{vm.format}}",
                data-max-view="{{::vm.maxView}}",
                data-min-view="{{::vm.minView}}",
                data-view="{{::vm.view}}",
                data-ng-blur="vm.inputLeave(vm.fieldValue)",
                data-min-date="minDate",
                data-max-date="maxDate"
                )
            include ../../template/errorField/errorClient
    .disabled-field(ng-if="vm.disabled && !vm.options.filter")
        include ../../template/disabledField/default