.editor-autocomplete-wrapper
    .filter-name-label
        span {{vm.filterDisplayName}}
    .filter-inner-wrapper
      .autocomplete-input-wrapper.form-control(data-ng-show="vm.preloadedData",
        data-ng-class='{"active" : vm.isActivePossible}',
        data-ng-click="inputFocus()"
        )
          input.autocomplete-field-search(
            type="text",
            name="{{vm.filterName}}",
            data-ng-model="vm.inputValue",
            data-ng-focus="vm.focusPossible(true)",
            data-ng-blur="vm.focusPossible(false)",
            size="{{vm.sizeInput}}",
            data-ng-style='vm.classInput'
            )
          .autocomplete-item(data-ng-show="vm.preloadedData", data-ng-repeat="acItem in vm.selectedValues") {{acItem[vm.filter_search]}}
              span.remove-from-selected(data-ng-click="vm.removeFromSelected()") ×
          .loader-search-wrapper(data-ng-show="vm.searching")
              .loader-search {{'LOADING' | translate}}
          .possible-values(
            data-ng-if="vm.possibleValues.length > 0",
            data-ng-class='{"active" : vm.isActivePossible}'
            )
              .possible-value-item(data-ng-repeat="possible in vm.possibleValues", data-ng-mouseover="vm.activeElement = $index", data-ng-click="vm.addToSelected(possible)", data-ng-class="vm.activeElement == $index ? 'active' : ''") {{possible[vm.filter_search]}}
