extends ../../template/layouts/layoutComponent
block append content
    include ../../template/labelField/labelField
    include ../../template/errorMessages/template
    .components-body(ng-if="!vm.warnings.length && !vm.dangers.length" ng-class="{'disabled-field': vm.disabled}")
      div(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}", ng-style="{'overflow:auto':vm.multiple}", ng-if="!vm.disabled || vm.options.filter")
        div(ng-class='vm.classComponent')
            .autocomplete-input-wrapper.form-control(data-ng-class='{"active" : vm.isActivePossible, "disabled-input": vm.readonly}', data-ng-click="inputFocus()"   )
                .autocomplete-item(data-ng-repeat="acItem in vm.selectedValues", 
                                    data-ng-show="acItem[vm.fieldSearch]",
                                    data-ng-if="vm.multiple") {{acItem[vm.fieldSearch]}}
                    span.remove-from-selected(data-ng-click="vm.removeFromSelected($event, acItem)", data-ng-if="!vm.readonly") ×
                input.autocomplete-field-search( 
                    ng-show="!vm.loadingData"
                    type="text",
                    ng-disabled="vm.readonly",
                    data-ng-model="vm.inputValue",
                    data-ng-focus="vm.focusPossible(true)",
                    data-ng-blur="vm.focusPossible(false)",
                    size="{{vm.sizeInput}}",
                    data-ng-style='vm.classInput',
                    data-ng-keydown="vm.deleteToAutocomplete($event)",
                    placeholder="{{vm.placeholder}}",
                    data-ng-class='!vm.isActivePossible ? "color-placeholder" : ""'
                    )
                span.select-delete.select-delete-autocomplete(
                    data-ng-if="!vm.multiple && !!vm.selectedValues.length && !vm.readonly",
                    data-ng-click="vm.removeFromSelected($event, vm.selectedValues[0])"
                    ) ×
                .possible-values.possible-autocomplete.active.possible-bottom(
                    data-ng-if="!vm.readonly && (vm.possibleValues.length > 0) && vm.showPossible",
                    )
                    .possible-scroll
                        .possible-value-item(data-ng-repeat="possible in vm.possibleValues", 
                                            data-ng-mouseover="vm.activeElement = $index", 
                                            data-ng-mousedown="vm.addToSelected($event, possible)",
                                            data-ng-class="vm.activeElement == $index ? 'active' : ''") {{::possible[vm.fieldSearch]}}

            .loader-search-wrapper(data-ng-show="vm.searching || vm.loadingData")
                .loader-search {{'LOADING' | translate}}
      .disabled-field(ng-if="vm.disabled && !vm.options.filter")
        include ../../template/disabledField/default