ul.dnd-list(
    dnd-list="vm.items" 
    dnd-allowed-types="vm.$allowed"
    dnd-dragover="vm.dragover(event, index, type)" 
    dnd-drop="vm.drop(item, index, event)"      
    dnd-inserted="vm.inserted(item, index, external, type)")        
        li.row-draggable(
            data-ng-repeat="item in vm.items",
            oncontextmenu='return false;'     
            dnd-disable-if="item.$disable",  
            dnd-draggable="item",
            dnd-moved="vm.moved($index)",
            dnd-type="item.$type",                 
            dnd-dragend ="vm.dndDragend(event)"      
            dnd-dragstart="vm.dragStart(event, item, $index)"
            dnd-effect-allowed="{{vm.mode}}")
            .row(data-ng-tree-item="",
                    data-vm = "vm",
                    data-item='item',
                    data-component-id="{{::vm.$componentId}}")
            
